@import "~react-pro-sidebar/dist/scss/styles.scss";
@import "~react-tabulator/lib/styles.css";
@import "~react-tabulator/lib/css/tabulator_semanticui.min.css";

/* react-pro-sidebar */
.pro-sidebar.fixed,
.pro-sidebar.fixed.collapsed {
    width: 80px !important;
    min-width: 80px !important;
}
.pro-sidebar.fixed .pro-sidebar-inner .pro-menu {
    padding: 0;
    .pro-menu-item {
        &.active {
            background-color: #3080d0;
        }
        .pro-inner-item {
            display: block;
            padding: 15px 0 !important;
            .pro-icon-wrapper {
                margin: 0;
                width: auto;
                min-width: auto;
                height: auto;
                display: block;
                .pro-icon > * {
                    font-size: 30px;
                }
            }
            .pro-item-content {
                display: block;
                text-align: center;
                font-size: 14px;
                line-height: 20px;
                white-space: normal;
                word-break: keep-all;
                word-wrap: break-word;
                padding-top: 4px;
            }
        }
    }
}
